*{
    margin:0;
}
body{
    background-color:rgb(0, 0, 0);
}
#Menu{
    background-color:rgb(206,13,14);
    width:100%;
    height:8vw;
    
}
#MenuWeb{
    background-color:rgb(206,13,14);
    width:100%;
    height:8vw;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size:5vw;
    margin-top:-1vw;
}
.Rosa{
    width:25vw;
    height:15vw;
    margin-left:37vw;
    margin-top:5vw;
}
.IntroduçãoTitulo{
   font-size:5vw;
   text-align: center;
   color:rgb(205, 204, 204);
}
.SubTituloIntro{
    font-size:2vw;
   text-align: center; 
   color:rgb(205, 204, 204);
}
.vinhas img{
    width:45vw;
    height:25vw;

    margin-top:5vw; 

}
.vinhahr2{
   transform: scaleX(-1)
}
.vinhas{
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}
#Localização{
    margin-top:5vw;

}
.LocaTitulo{
    font-size:7vw;
    color:rgb(205, 204, 204);
    text-align: center;
}
#Localização input{
    border:none;
    background-color:rgb(206,13,14);
    color:rgb(15, 15, 15);
    height:5vw;
    font-size:2vw;
    width:18vw;
    border-radius:0.5vw;
    margin-left:40vw;
    transition: 1s;

}
#Localização input:hover{
    background-color:rgb(126, 4, 4);
}
.SeçaoMenu{
    font-size:2.5vw;
}
iframe{
    margin-left:25.5vw;
    width:45vw;
    height:40vw;
    display:none;
}
#btnFecharMapa{
    margin-top:2vw;
    display:none;
}
@media only screen and (min-width:700px){
    .logoMobile{
        visibility: hidden;
    }
}
@media only screen and (max-width:699px)
{

   #MenuWeb{
    visibility: hidden;
   }
   #Menu{
    height:16vw;
   }
   .logo{
       font-size:10vw;  
       margin-top:5.5vw;
   }
   .IntroduçãoTitulo{
    font-size:10vw;
    text-align: center;
    color:rgb(205, 204, 204);
 }
 
.SubTituloIntro{
    font-size:5vw;
   text-align: center; 
   color:rgb(205, 204, 204);
}
.vinhas img{
    width:45vw;
    height:40vw;

    margin-top:5vw; 

}
.vinhahr2{
   transform: scaleX(-1)
}
.vinhas{
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}
iframe{
    margin-left:4vw;
    width:90vw;
    height:70vw;

}

#btnFecharMapa{

    margin-top:2vw;
    display:none;
}
.LocaTitulo{
    font-size:12vw;
    color:rgb(205, 204, 204);
    text-align: center;
}
#Localização input{
   font-size:7vw;
   margin-left:12vw;
    width:70vw;
    height:15vw;
}
.Rosa{
    width:45vw;
    height:45vw;
    margin-left:27vw;
    margin-top:5vw;
}
}